@tuff-primary-extralight:  	#C8CEAC;
@tuff-primary-light:    	#C1BB9C;
@tuff-primary-medium:   	#A6B394;
@tuff-primary-dark:     	#86AF96;
@tuff-primary-extradark:    #828D83;

body {
	background-color: @tuff-primary-extralight;
}

.tuff-navbar {
  height: 100px;
  background-color: @tuff-primary-dark;
}

.tuff-mainContainer {
	padding-top: 120px;
}

.tuff-rightContainer {
  background-color: @tuff-primary-light;
}

.tuff-leftContainer {
  background-color: @tuff-primary-light;
}