
@tuff-primary-blue-light:    	#006ecd;
@tuff-primary-blue-medium:   	#154360;
@tuff-primary-blue-dark:     	#17202a;

@tuff-primary-light:    #F9F9F9;
@tuff-primary-dark:    	#ededed;

@tuff-secondary-light:    	#5C6B73;
@tuff-secondary-dark:    	#253237;

body {
	background-color: @tuff-primary-dark;
}

.tuff-navbar {

   	position:fixed;
   	left:0px;
   	top:0px;
   	width:100%;
   	height:60px;
   	background-color: @tuff-primary-light;
   	border-color: rgba(0, 0, 0, 0);

}

.tuff-one-edge-shadow {
	-webkit-box-shadow: 0 1px 4px 1px @tuff-primary-dark;
	   -moz-box-shadow: 0 1px 4px 1px @tuff-primary-dark;
	        box-shadow: 0 1px 4px 1px @tuff-primary-dark;
}

.tuff-container-grid {

	display: grid;
  	grid-template-columns: [colLeft] 20% [colCenter] auto [colRight] 20%;
  	grid-template-rows: [row1] 60px [row2] auto;

}

.tuff-item-top {
  	grid-column-start: colLeft;
  	grid-column-end: colRight;
  	grid-row-start: row1;
  	grid-row-end: row1;
}

.tuff-item-left {
	background-color: @tuff-primary-light;
  	grid-column-start: colLeft;
  	grid-column-end: colLeft;
  	grid-row-start: row2;
  	grid-row-end: row2;

}

.tuff-item-center {

  grid-column-start: colCenter;
  grid-column-end: colCenter;
  grid-row-start: row2;
  grid-row-end: row2;

}

.tuff-item-right {
 	background-color: @tuff-primary-light;
  	grid-column-start: colRight;
  	grid-column-end: colRight;
  	grid-row-start: row2;
  	grid-row-end: row2;
}