<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}TUFF{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

  </head>

  <body class="body">
    <div class="tuff-navbar tuff-one-edge-shadow tuff-container-grid">
      <div>
          <img src="{% static 'apple-touch-icon.png' %}" alt="Smiley face" align="middle" height="40px" width="74px">
      </div>
    </div>
    <div class="tuff-container-grid">
      <div class="tuff-item-top"></div>
      {% block body %}
      {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>

  </body>
</html>
